<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= titulo %> </title>
    <% include partials/head.html %>
</head>

<body>

    <% include partials/navegacion.html %>

    <!-- Secciones -->

    <div class="row text-white p-3 text-center">
        <div class="col-sm-6">
            <i>
                <img src="/img/img3.jpg" id="imgSection">
            </i>
        </div>
        <div class="col-sm-6">
            <h3>Asi como Nuestro Dia</h3>
            <h4> Cada 14 de Febrero te Acuerdas</h4>
            <p>Habrán mil comienzos, un millón de finales, en todos ellos estamos tú y yo, recorriendo nuevos lares.
                Porque así quiero mi vida, compartiendo momentos contigo, cada uno de mis días, un lindo amor infinito.
            </p>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row text-white p-3 text-center">

            <div class="col-sm-6">
                <h3>Hasta veito con el Corazon</h3>
                <p>No es necesario escribir frases de Neruda ni versos de Bécquer, solo tienes que ver mi corazón, que
                    se muere por verte.</p>
            </div>
            <div class="col-sm-6">
                <i>
                    <img src="/img/img2.jpg" id="imgSection">
                </i>
            </div>
        </div>
        <br>
        <div class="row text-white p-3 text-center">
            <div class="col-sm-6">
                <i>
                    <img src="/img/img1.png" id="imgSection">
                </i>
            </div>
            <div class="col-sm-6">
                <h3>Historia Unica Hasta veito </h3>
                <p>No olvides ese día, no olvides ese momento, desde nuestro primer beso, en mi corazón te llevo dentro.
                </p>
            </div>
        </div>
        <br>
        <div class="row text-white p-3 text-center">
            <div class="col-sm-6">
                <h3>Historia Unica Hasta veito </h3>
                <p>Cuando el Sol se apague o la Tierra sea plana, será el día que salgas de mi alma.</p>
            </div>
            <div class="col-sm-6">
                <i>
                    <img src="/img/principal.png" id="imgSection">
                </i>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <% include partials/footer.html %>

</body>

</html>