<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> <%= titulo %> </title>
	<% include partials/head.html %>

</head>

<body>

	<% include partials/navegacion.html %>

	<br><br>
	<div class="container">
		<header class="row">
			<div class="col-lg-12 text-center">
				<img src="/img/principal.png" id="imgSecundaria" class="animated bounceIn">
				<img src="/img/principal.png" id="imgPrincipal" class="animated bounceIn">
				<img src="/img/principal.png" id="imgSecundaria" class="animated bounceIn">
			</div>
		</header>
	</div>


	<!-- Seccion Primera -->

	<br><br><br><br>
	<div class="container-fluid" id="ositos">
		<div class="row bg-dark text-white p-3 text-center">
			<div class="col-sm-6">
				<i>
					<img src="/img/img3.jpg" id="imgSectionPrincipal" class="animated bounceIn">
				</i>
			</div>
			<div class="col-sm-6">
				<h3>Historia Unica Hasta veito </h3>
				<p>Estas son mis palabras mi osita gracias por existir gracias por hacerme el hombre mas feliz de este
					mundo contigo todo, si es de estar hasta veito con el corazon asi sera mi bebe te Amo por lo que
					eres, te Amo por el Amor que le tienes a mi Familia y por lo grande que eres Amo cada parte de ti te
					amo jackelinne acosta.</p>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<% include partials/footer.html%>

</body>

</html>