body{

    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#imgPrincipal{
    width:100%; max-width:300px;
}

#imgSecundaria{
    width:80%; max-width:200px;
}

#imgSectionPrincipal{
    width:100%; max-width:200px;
}

#imgSection{
    width:80%; max-width:200px;
}

